* {
    padding: 0;
    margin: 0;
}
body {
    background: #f7f7f7;
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}
li {
    list-style: none;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
#wrap {
    width: 1880px;
    float: left;
}
#nav {
    width: 1880px;
    height: 60px;
    background: #1e89e0;
}
.logo {
    width: 112px;
    height: 60px;
    margin: 0 20px 0 356px;
    float: left;
}
.nav-list {
    width: 380px;
    height: 60px;
    float: left;
    margin-right: 294px;
}
.nav-list li {
    width: 134px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: left;
}
.nav-list a {
    font-size: 15px;
    color: #e7faff;
    font-weight: bold;
}
.nav-list li:hover {
    background: #0c77d1;
}
.nav-list .active, .nav-list .active:hover {
    width: 112px;
    float: left;
    background: #0060c7;
}
.nav-link {
    width: 216px;
    height: 60px;
    float: left;
}
.nav-link li {
    float: left;
    height: 60px;
    font-size: 12px;
    color: #d2e7f9;
    line-height: 60px;
    margin-right: 17px;
}
.nav-link .server {
    width: 94px;
    background: url("img/nav.gif") no-repeat left 0;
}
.server span {
    padding-left: 28px;
}
.phone span {
    padding-left: 24px;
}
.nav-link .phone {
    width: 88px;
    background: url("img/nav.gif") no-repeat left -60px;
}
.sign-logon {
    width: 102px;
    height: 60px;
    line-height: 60px;
    float: left;
    margin-left: 64px;
    background: url("img/nav.gif") no-repeat left -120px;
}
.sign-logon span {
    font-size: 14px;
    color: #d4e8fc;
    font-weight: bold;
    padding-left: 30px;
}
#position {
    width: 1184px;
    height: 110px;
    font-size: 12px;
    margin: 0 auto;
    background: url("img/girl.gif") no-repeat right 56px;
}
.location {
    float: left;
    margin-top: 22px;
}
.location i {
    font-style: normal;
    color: #999;
}
.location span {
    font-style: normal;
    color: #333;
}
.location strong {
    font-weight: normal;
    color: #0089dc;
    padding-left: 20px;
}
#position input {
    width: 284px;
    height: 32px;
    font-size: 13px;
    color: #a9a9a9;
    padding-left: 1em;
    margin: 10px 0 0 620px;
    border: 1px solid #ccc;
    background: url("img/search.gif") no-repeat 260px 9px;
}
#options {
    width:1180px;
    height: 58px;
    border: 1px solid #e6e6e6;
    border-top-width: 2px;
    border-bottom-width: 0;
    margin: 0 auto;
    font-size: 13px;
}
#options li, #options li a,.table a {
    width: 80px;
    text-align: center;
    line-height: 40px;
    float: left;
    color: #666;
    cursor: pointer;
    padding: 2px;
}
.tab a{
    height: 26px;
    border-radius: 8px;
    margin-right: 5px;
    line-height:26px !important;
    margin-bottom: 5px;
}
.tab.hover a{
    background: #0089dc;
    border-radius: 8px;
    line-height:26px !important;
    color: #fff !important;
}
#options .all {
    width: 80px;
    height: 60px;
    line-height: 44px;
    color: #999;
    padding-left: 22px;
    cursor: default;
}
#options .tab:first-child {
    margin-left: 90px;
}
#content {
    width: auto;
    border: 1px solid #e6e6e6;
    margin: 20px auto 0;
    overflow-y:hidden;
    clear: both;
}
#content .good {
    width: 250px;
    height: 138px;
    float: left;
    position: relative;
    margin-left:38px;
}
.goodsContent{
   width:250px;
    height:138px;
    /*border:1px solid #000;*/
}
.goodsContent .goodsImg{
    width:70px;
    float:left;
    position:relative;
}
.goodsContent .goodsImg img{
    width:70px;
    height:70px;
   position: absolute;
    top:20px;
    left:0;
}
.goodsContent .goodsImg p{
    width:52px;
    height:12px;
    color:#f74342;
    text-align:center;
    line-height:12px;
    position: absolute;
    top:104px;
    left:10px;
}
.goodsContent .goodsList{
    float:left;
    position: absolute;
    left:90px;
    top:20px;
}
.goodsContent .goodsList li{
    width:150px !important;
    height:22px;
    text-align: left !important;
    line-height:22px !important;
    color:#999 !important;
    font-size:12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.goodsContent .goodsList li:first-child{
    color:#333 !important;
    font-size:16px;
    font-weight:bold;
}
.submenu {
    width: 1180px;
    border: 1px solid #e6e6e6;
    border-top-width: 0;
    margin: -10px 0 20px -1px;
    float: left;
}
.goodsContent{
    z-index: 1;
}
.good img {
    width: auto;
    height: auto;
}
.goodsInfoList{
    width:264px;
    margin:5px auto 0;
    text-align:left;
}
.goodsInfoList p{
    height:28px;
    line-height: 28px;
    text-align:left;
}
.goodsInfoList p span{
    font-size:12px;
    color:#666;
    padding-left:1em;
}
.deliverInfo{
    width:264px;
    text-align:left;
    margin:20px auto 20px;
}
.deliverInfo span:first-child{
    padding-left:2em;
}
.deliverInfo span:nth-child(3){
    color:#333;
}
.division{
    margin:0 32px 0 20px;
}
.deliverTime{
    font-style: normal;
    color:#f74342;
}
.goodName{
    width:264px;
    height:60px;
    color:#333;
    font-size:16px;
    font-weight:bold;
    margin:0 auto;
    text-align:left;
    line-height:60px;
    border-bottom:1px solid #dcdcdc;
}
.imgInfo {
    width:294px;
    border:2px solid #ddd;
    position: absolute;
    background:#fff;
    top: 12px;
    left: 230px;
    z-index: 2;
}
.mark{
    position: absolute;
    top:18px;
    left:-10px;
    z-index:2;
}
/*#content li:nth-child(4n) .imgInfo{*/
    /*position: absolute;*/
    /*top:24px;*/
    /*left:-300px;*/
    /*z-index:2;*/
/*}*/
#footer {
    width:auto;
    height: 350px;
    margin:50px auto 0;
    border-top:1px solid #eee;
    clear:both;
}
#footer li{
    margin-right:150px;
}
#footer li ul li{
    height:14px;
    line-height:14px;
    text-align:left;
    font-size:10px;
    color:#999;
}
.footeList{
    width: 70px;
}
.footeList li:first-child,.fontLink li{
    font-size:12px !important;
    color:#333 !important;
}
.fontLink{
    margin-right:150px;
}
.fontLink li{
    width:220px !important;
}
.code{
    width:150px;
    height:84px;
    padding-left:84px;
    background: url("./img/footer.gif") no-repeat left -18px;
}
.wechat{
    background: url("./img/footer.gif") no-repeat 68px 0;
}
.footerInfo{
    padding-top:74px;
    clear:both;
}
.footerInfo p:nth-child(2){
    color:#999;
    line-height:30px;
    padding-bottom:40px;
    background: url("./img/img.gif") no-repeat 546px bottom;
}
.footerInfo p{
    width:1180px;
    height:30px;
    text-align: center;
    color:#0e0e0e;
}
#side {
    width: 40px;
    height: 974px;
    background: #504d53;
    margin-bottom: 22px;
    position: fixed;
    right: 0;
}
.info {
    width: 34px;
    height: 166px;
    float: left;
    position: relative;
    top: 265px;
}
.info .indent, .info .line1, .info .cart, .info .myInfo, .info .line2 {
    position: absolute;
    left: 9px;
}
.info .cart {
    top: 48px;
}
.info .myInfo {
    top: 152px;
}
.info .line1 {
    top: 20px;
}
.info .line2 {
    top: 120px;
}
.indentInfo {
    position: absolute;
    top: -5px;
    left: -92px;
}
.contact {
    width: 34px;
    height: 60px;
    float: left;
    position: relative;
    top: 680px;
}
.contact .download {
    position: absolute;
    left: 10px;
}
.contact .service {
    position: absolute;
    top: 40px;
    left: 9px;
}
.contact .downloadInfo {
    position: absolute;
    top: -162px;
    left: -150px;
}



