*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
img{
    border:none;
}
a{
    text-decoration:none;
}
#wrap {
    width: 100px;
    height:800px;
    float: left;
    background: #f1f1f1;
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}
#side{
    width:34px;
    height:974px;
    background:#504d53;
    margin-bottom:22px;
    float:left;
}
.info{
    float:left;
}
.info li{
    float:left;
}
.info .indent{
    background: url("../img/side.gif") no-repeat left 0px;

}
.info .cart{
    background: url("../img/side.gif") no-repeat left -17px;

}
.info .myInfo{
    background: url("../img/side.gif") no-repeat left -36px;
}
.info .line{
    background: url("../img/side.gif") no-repeat left -50px;

}
.contact{
    float:left;
}
.contact li{
    float:left;
}
.contact .download{
    background: url("../img/side.gif") no-repeat left -51px;
}
.contact .service{
    background: url("../img/side.gif") no-repeat left -68px;
}