.grid {
    background: #ccc;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.cell {
    flex: 1;
    color: #fff;
    background: orange;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    border: 2px solid #fff;
}

.cell1 {
    flex: 0 0 33.3333%;
}

.cell2 {
    flex: 0 0 66.6666%;
}


.cell3 {
    flex: 0 0 200px;
}

.cell4 {
    flex: 0 0 100%;
}
